.maincontainer {
  background: #bce6eb;
  border: 2.5px solid #aee6e6;
  border-radius: 15px;
  margin-top: 20px;
  padding: 15px;
}

.row {
  justify-content: center;
}

.App .searchlocation {
  width: auto;
}

.maincontainer .row {
  margin: 10px 0;
}

.App .btn {
  border: 1px solid #a3d8f4;
}

.App .btn:hover {
  background: #a3d8f4;
  color: white;
}
