.maincontainer {
  background: #1ec4dc;
  border: 2.5px solid #369acd;
  border-radius: 15px;
  margin-top: 20px;
  padding: 15px;
}

.row {
  justify-content: center;
}

.searchlocation {
  width: auto;
}

.maincontainer .row {
  margin: 10px 0;
}

.btn {
  border: 2px solid #369acd;
}
