.maincontainer {
  background: #1ec4dc;
  border: 2.5px solid #369acd;
  border-radius: 15px;
  margin-top: 20px;
  padding: 15px;
}

.row {
  justify-content: center;
}

.App .searchlocation {
  width: auto;
}

.maincontainer .row {
  margin: 10px 0;
}

.App .btn {
  border: 2px solid #369acd;
}

.App .btn:hover {
  background: #369acd;
  color: white;
}
