.tempbtns .btn {
  margin-right: 15px;
}

.tempbtns .btn:hover {
  background: #a3d8f4;
  color: white;
}

.tempbtns .btn {
  border: 2px solid #a3d8f4;
}

.tempbtns .disabled {
  background: #a3d8f4 !important;
}
