.tempbtns .btn {
  margin-right: 15px;
}

.tempbtns .btn:hover {
  background: #369acd;
  color: white;
}

.tempbtns .btn {
  border: 2px solid #369acd;
}

.tempbtns .disabled {
  background: #369acd !important;
}
